// Colors
$bgGrey: rgb(244, 245, 246);
$white: rgb(255, 255, 255);
$softRed: rgb(236,100,75);
$transparent: transparent;

// Font Sizes
$menuFontSize: 13px;
$searchFontSize: 8px;

//Spinner
$spinnerSize: 30px;